<p-toast></p-toast>
<button type="button" pButton pRipple (click)="getData()" label="Get graphic" class="p-button"></button>

<div class="loader-block" *ngIf="loader; else done">Loading...</div>
<!--<div class="error-block" *ngIf="error">{{ error }}</div>-->
<ng-template #done>
  <div class="card">
    <p-chart type="bar" [data]="basicData"></p-chart>
  </div>
  <div class="picker-block">
    <p-colorPicker [ngModel]="color" (onChange)="change($event)" ></p-colorPicker>
  </div>
</ng-template>





